<footer class="footer">
  <div class="footer-detail">
    <div class="about">
      <h3 class="footer-link-title-underline">About</h3>
      <p>
        <strong>Al Haseeb Institute</strong> is an online institute provides
        Arabic and Quran lessons for you and your children through highly
        qualified and experienced teachers.
      </p>
    </div>

    <div class="link-category">
      <h3 class="footer-link-title-underline">Important links</h3>
      <ul>
        <li><a href="#courses">Courses</a></li>
      </ul>
    </div>
  </div>
</footer>
