<footer class="footer">
  <div class="footer-top">
    <div class="about">
      <h3 class="footer-link-title-underline">About</h3>
      <p>
        <strong>Al Haseeb Institute</strong> is an online institute provides
        Arabic and Quran lessons for you and your children through highly
        qualified and experienced teachers.
      </p>
    </div>

    <div class="link-category">
      <h3 class="footer-link-title-underline">Important links</h3>
      <ul>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">Donation</a></li>
      </ul>
    </div>

    <div class="contact-us">
      <h3 class="footer-link-title-underline">Contact us</h3>
      <li><a href="#">+923077890953</a></li>
      <li><a href="#">+923172534659</a></li>

      <li><a href="#">noumansharifgul@gmail.com</a></li>
    </div>
    <div class="contact"></div>
  </div>
</footer>
