<footer class="footer">
  <div class="footer-top">
    <div class="social-link">
      <a href="https://www.instagram.com/al_haseeb.institute/" target="_blank"
        ><img src="/assets/croped-logo.jpeg" alt="institute-logo"
      /></a>
    </div>

    <div class="about">
      <h3 class="footer-link-title-underline">About</h3>
      <p>
        <strong>Al Haseeb Institute</strong> is an online institute provides
        Arabic and Quran lessons for you and your children through highly
        qualified and experienced teachers.
      </p>
    </div>

    <div class="link-category">
      <h3 class="footer-link-title-underline">Important links</h3>
      <ul>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#sign-up">Register</a></li>
        <li><a href="#">Plans</a></li>
        <li><a href="#">Donation</a></li>
      </ul>
    </div>

    <div class="contact-us">
      <a id="contact-us"></a>
      <h3 class="footer-link-title-underline">Contact us</h3>
      <li><a href="#">+923077890953</a></li>
      <li><a href="#">+923172534659</a></li>

      <li><a href="#">noumansharifgul@gmail.com</a></li>
      <!-- <li></li> -->
    </div>
  </div>

  <div class="footer-bottom">
    <h3>Copyright &copy; 2025</h3>
    <div class="dev-detail">
      <strong>developed by</strong>
      <h3>
        <a href="https://noumansharif27.github.io/portfolio" target="_blank"
          >Nouman Sharif Gul</a
        >
      </h3>

      <div class="dev-social">
        <a href="https://www.github.com/noumansharif27" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="https://www.instagram.com/nouman_sharifgul" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/nouman-sharifgul/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/nouman.sharifgul" target="_blank">
          <i class="fa-brands fa-square-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
