<footer class="footer">
  <div class="footer-detail">
    <div class="about">
      <h3>About</h3>
      <p>
        <strong>Al Haseeb Institute</strong> is an online institute provides
        Arabic and Quran lessons for you and your children through highly
        qualified and experienced teachers.
      </p>
    </div>
  </div>
</footer>
