<header class="header">
  <nav class="index_navbar">
    <ul class="social_links">
      <div class="contact_links">
        <li>
          <img src="/assets/alhaseebinstitute.com-0.svg" alt="mail_icon" />
          <a href="mailto:noumansharifgul@gmail.com"
            >&nbsp;noumansharifgul@gmail.com</a
          >
        </li>
        <li>
          <img
            src="/assets/alhaseebinstitute.com-1.svg"
            alt="phone_icon"
          />&nbsp;+92312345678
        </li>
      </div>
      <div class="socialmedia">
        <li class="facebook">
          <a href="https://www.facebook.com/nouman.sharifgul/">
            <i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li class="instagram">
          <a href="https://www.instagram.com/al_haseeb.institute/"
            ><img src="/assets/instagram-logo.png" alt="Instagram_icon"
          /></a>
        </li>
        <li class="whatsapp">
          <a
            href="https:api.whatsapp.com/send/?phone=+92077890953&text$app_absent=0"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </li>
      </div>
    </ul>
    <ul class="navlinks">
      <div class="logo">
        <img src="/assets/colored-logo.png" alt="logo" />
      </div>
      <div class="navlinks_left">
        <li><a href="#" class="navbar_iteam">Home</a></li>
        <li><a href="#courses" class="navbar_iteam">Courses</a></li>
        <li><a href="#" class="navbar_iteam">Plans</a></li>
        <li><a href="#" class="navbar_iteam">Donation</a></li>
        <li><a href="#about-us" class="navbar_iteam">About Us</a></li>
        <li><a href="#contact-us" class="navbar_iteam">Contact</a></li>

        <button class="navbar_btn">Free Trials</button>
      </div>
    </ul>
  </nav>
</header>
