<header class="header">
  <nav class="index_navbar">
    <ul class="social_links">
      <div class="contact_links">
        <li>
          <i class="fa-solid fa-envelope"></i>
          <a
            class="nav-anchor"
            href="mailto:alhaseebonlinequraninstitute@gmail.com"
            >&nbsp;alhaseebonlinequraninstitute@gmail.com</a
          >
        </li>
        <li>
          <i class="fa-solid fa-phone"> </i>
          <a class="nav-anchor" href="tel:+923439555890">+923439555890</a>
        </li>
      </div>
      <div class="socialmedia">
        <li class="facebook">
          <a
            class="nav-anchor"
            href="https://www.facebook.com/share/16npEX88cL/"
            target="_blank"
          >
            <i class="fa-brands fa-facebook"></i
          ></a>
        </li>
        <li class="instagram">
          <a
            href="https://www.instagram.com/al_haseeb.institute/"
            target="_blank"
            ><img src="/assets/instagram-logo.png" alt="Instagram_icon"
          /></a>
        </li>
        <li class="whatsapp">
          <a
            href="https://wa.me/923439555890?text=Assalam-O-Alikum%2C%20I%20want%20to%20learn%20Quran%21"
            target="_blank"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </li>
      </div>
    </ul>
    <ul class="navlinks">
      <div class="logo">
        <img src="/assets/alhaseeb-logo-0.webp" alt="logo" />
      </div>
      <div class="navlinks_left">
        <li><a class="nav-anchor" href="/" class="navbar_iteam">Home</a></li>
        <li>
          <a class="nav-anchor" href="#courses" class="navbar_iteam">Courses</a>
        </li>
        <li>
          <a class="nav-anchor" href="/plans" class="navbar_iteam">Plans</a>
        </li>
        <li>
          <a class="nav-anchor" href="/donation" class="navbar_iteam"
            >Donation</a
          >
        </li>
        <li>
          <a class="nav-anchor" href="#about-us" class="navbar_iteam"
            >About Us</a
          >
        </li>
        <li>
          <a class="nav-anchor" href="/contact" class="navbar_iteam">Contact</a>
        </li>

        <form action="/freeTrial" method="get">
          <button class="navbar_btn btn">Free Trials</button>
        </form>
      </div>
    </ul>
  </nav>

  <nav class="mobile-nav">
    <div class="top">
      <div>
        <i class="fa-solid fa-phone"></i>
        <a class="nav-anchor" href="tel:+923439555890">
          <strong>+923439555890</strong>
        </a>
      </div>

      <div class="cross-icon">
        <i class="fa-solid fa-circle-xmark toogle-cross"></i>
      </div>
    </div>

    <ul class="bottom">
      <i class="fa-solid fa-bars toogle-btn"></i>

      <div class="logo">
        <a
          class="nav-anchor"
          href="https://www.instagram.com/al_haseeb.institute/"
          ><img src="/assets/alhaseeb-logo-0.webp" alt="logo"
        /></a>
      </div>

      <form action="/freeTrial" method="get">
        <button class="navbar_btn btn">Free Trials</button>
      </form>
    </ul>

    <div class="toogle-bar">
      <a class="nav-anchor" href="/">Home</a>
      <a class="nav-anchor" href="#about-us">About Us</a>
      <a class="nav-anchor" href="#courses">Courses</a>
      <a class="nav-anchor" href="/plans">Pricing</a>
      <a class="nav-anchor" href="/freeTrial">Free Trial</a>
      <a class="nav-anchor" href="/donation">Donate</a>
      <a class="nav-anchor" href="/contact">Contct Us</a>

      <h2>Al Haseeb Institute</h2>
    </div>
  </nav>
</header>
