<%- layout("boilerplate") %>

<body>
  <section class="course-detail-pg">
    <img
      src="\assets\Ramadhan Kareem (Banner (Landscape)) (1000 X 330 Mm) - 1 - Edited.png"
      alt="he"
    />
    <div class="course-detail-hero-section">
      <div class="course-detail">
        <h1>Noorani Qaida</h1>
        <p>
          Norani Qaida is the first step in Quran learning, easing recitation
          with correct pronunciation, Arabic letters, and tajweed mastery.
        </p>

        <div class="social">
          <a href="https://www.facebook.com/nouman.sharifgul/"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/al_haseeb.institute/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            href="https:api.whatsapp.com/send/?phone=+92077890953&text$app_absent=0"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
    </div>
  </section>

  <div class="course-card">
    <div class="layer">
      <h2>Noorani Qaida</h2>
      <div class="cards">
        <div class="course-banner banner">
          <img
            src="/assets/Beige Minimalist Simple Islamic Quran Verse Instagram Post.png"
            alt="course_banner"
          />
        </div>
        <div class="content-banner banner">
          <img
            src="/assets/course_feature_poster.png"
            alt="course_feature_poster"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="course_form"></div>
</body>
