<%- layout("boilerplate") %>

<section class="course-detail-pg">
  <div class="course-detail-hero-section">
    <div class="course-detail">
      <h1>NOOrani Qaida</h1>
      <p>
        Norani Qaida is the first step in Quran learning, easing recitation with
        correct pronunciation, Arabic letters, and tajweed mastery.
      </p>
    </div>
  </div>
</section>
