<%- layout("boilerplate") %>
<body>
  <section class="course-detail-pg">
    <img src="\assets\alhaseeb-banner-1.webp" alt="section-hero-banner" />
    <div class="course-detail-hero-section">
      <div class="course-detail">
        <h1 class="donation-headline">Donate Now</h1>
        <p>From Basic Qaida to Quran Memorization and Tajweed.</p>

        <div class="social">
          <a href="https://www.facebook.com/share/16npEX88cL/"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/al_haseeb.institute/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            href="https://wa.me/923439555890?text=Assalam-O-Alikum%2C%20I%20want%20to%20learn%20Quran%21"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
    </div>
  </section>

  <div class="donation-main-pg">
    <div class="top">
      <div class="headline">
        <h2>Help student learn</h2>
        <p>
          Be part of the <strong>Sadqa-e-Jaria</strong> by donating students who
          are not able to study by their own or cannot afford the teachers fee
        </p>
      </div>

      <div class="donation-card">
        <div class="left-card">
          <img src="/assets/alhaseeb-donation-main-card.webp" alt="card-img" />
        </div>
        <div class="right-card">
          <img
            src="/assets/alhaseeb-donation-account-detail-poster.webp"
            alt="card-img"
          />

          <a href="tell:+9234955890" class="btn">Call Now</a>
        </div>
      </div>
    </div>

    <div class="bottom">
      <img
        src="/assets/alhaseeb-donation-bottom-poster.webp"
        alt="donation-btm-img"
      />
    </div>
  </div>
</body>
