<%- layout("boilerplate") %>
<body>
  <section class="error-banner">
    <img src="/assets/alhaseeb-dark-404-pg-1.jpg.jpg" alt="Error-banner" />

    <div class="error-layer"></div>
    <form action="/" method="get">
      <button class="err-btn">Go to home</button>
    </form>
  </section>
</body>
