<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al haseeb Institude | online Quran Academy</title>
    <link rel="shortcut icon" href="/assets/logo.jpeg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="index_navbar">
        <ul class="social_links">
          <div class="contact_links">
            <li>
              <img src="/assets/alhaseebinstitute.com-0.svg" alt="mail_icon" />
              <a href="mailto:noumansharifgul@gmail.com"
                >&nbsp;noumansharifgul@gmail.com</a
              >
            </li>
            <li>
              <img
                src="/assets/alhaseebinstitute.com-1.svg"
                alt="phone_icon"
              />&nbsp;+92312345678
            </li>
          </div>
          <div class="socialmedia">
            <li>
              <a href="https://www.facebook.com/nouman.sharifgul/"
                ><img
                  src="\assets\alhaseebinstitute.com-2.svg"
                  alt="facebook_icon"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/al_haseeb.institute/"
                ><img
                  src="/assets/alhaseebinstitute.com-3.svg"
                  alt="insta_icon"
              /></a>
            </li>
            <li>
              <a
                href="https:api.whatsapp.com/send/?phone=+92077890953&text$app_absent=0"
                ><img src="/assets/alhaseebinstitute-3.svg" alt="whatsapp_icon"
              /></a>
            </li>
          </div>
        </ul>
        <ul class="navlinks">
          <div class="logo"><img src="/assets/logo.jpeg" alt="logo" /></div>
          <div class="navlinks_left">
            <li><a href="#" class="navbar_iteam">Home</a></li>
            <li><a href="#" class="navbar_iteam">Courses</a></li>
            <li><a href="#" class="navbar_iteam">Plans</a></li>
            <li><a href="#" class="navbar_iteam">Donation</a></li>
            <li><a href="#" class="navbar_iteam">About Us</a></li>
            <li><a href="#" class="navbar_iteam">Contact</a></li>

            <button class="navbar_btn">Free Trials</button>
          </div>
        </ul>
      </nav>
    </header>
  </body>
</html>
