<%- layout("boilerplate") %>

<body>
  <main>
    <!-- Hero section -->
    <section class="hero-page">
      <div class="hero-banner">
        <img src="/assets/hero-banner.png" alt="hero-banner" />
      </div>
    </section>

    <!-- About us -->
    <section class="about-us">
      <h1>Welcome to Al Haseeb Institute</h1>
      <p>
        Online Quran Academy is a spectacular platform of Online Quran Teaching
        which enables New Muslims and Children all over the world to read Quran
        with Tajweed from home. We welcome all students interested in Quran
        learning, The program includes Quran Reading (Nazra Quran), Nurani
        Qaida, Memorizing Quran, Translation and Prayers Duas with the 6 Kalimas
        You are just one click away learning from highly trained, qualified,
        dedicated male and female Quran teachers we have. Our Quran tutors are
        available to teach Quran 24/7. For free trial click here, In sha Allah
        you and your kids can start Quran learning immediately.
      </p>
    </section>

    <!-- Courses Section -->
    <section class="courses">
      <a id="courses"></a>
      <div class="course-pg-heading">
        <h2>Course Catagories</h2>
      </div>
      <div class="cards">
        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/qaida-thumbnail-demo.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img-1.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/qaida-thumbnail-demo.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img-1.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="course-review">
      <div class="review-card">
        <img src="/assets/demo-banner-4.png" alt="course_review_banner" />
      </div>
      <!-- <div class="filter"></div> -->
    </section>
    <!-- <br />
    <br /><br /><br /><br /><br /><br /> -->
  </main>
</body>
