<%- layout("boilerplate") %>

<body>
  <main>
    <!-- Hero section -->
    <section class="hero-page">
      <div class="hero-banner">
        <img src="/assets/hero-banner.png" alt="hero-banner" />
      </div>
    </section>

    <!-- About us -->
    <section class="about-us">
      <h1>Welcome to Al Haseeb Institute</h1>
      <p>
        Online Quran Academy is a spectacular platform of Online Quran Teaching
        which enables New Muslims and Children all over the world to read Quran
        with Tajweed from home. We welcome all students interested in Quran
        learning, The program includes Quran Reading (Nazra Quran), Nurani
        Qaida, Memorizing Quran, Translation and Prayers Duas with the 6 Kalimas
        You are just one click away learning from highly trained, qualified,
        dedicated male and female Quran teachers we have. Our Quran tutors are
        available to teach Quran 24/7. For free trial click here, In sha Allah
        you and your kids can start Quran learning immediately.
      </p>
    </section>

    <!-- Courses Section -->
    <section class="courses">
      <a id="courses"></a>
      <div class="course-pg-heading">
        <h2>Course Catagories</h2>
      </div>
      <div class="cards">
        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/qaida-thumbnail-demo.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img-1.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/qaida-thumbnail-demo.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>

        <div class="course-card">
          <div class="card-top">
            <div class="card-thumbnail">
              <img src="/assets/demo-img-1.jpg" alt="course-image" />
            </div>
          </div>
          <div class="card-bottom">
            <h2 class="card-title">Norani Qaida</h2>
            <div class="card-description">
              <p>
                Norani Qaida is the first step in Quran learning, easing
                recitation with correct pronunciation, Arabic letters, and
                tajweed mastery.
              </p>
            </div>

            <form action="/courses" method="get">
              <button class="card-btn primary-btn">Course Details</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="course-review">
      <img src="/assets/demo-banner-6.png" alt="course_review_banner" />

      <h3>Our customers' feedback</h3>
      <div class="review-card">
        <img src="/assets/review-card-0.jpg" alt="review-card" />
      </div>
    </section>

    <section class="detailed-about">
      <div class="top">
        <img src="/assets/demo-img-1.jpg" alt="demo-img" />
        <div class="highlight">
          <h2>About us</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae
            quaerat voluptates possimus dolorem temporibus id quasi neque ex sit
            quo nesciunt minus perspiciatis, esse ipsam vel quod cupiditate enim
            eos? Necessitatibus, labore saepe? Quasi vitae reprehenderit dolores
            obcaecati quisquam? Hic, animi voluptate alias temporibus
            consequatur fuga qui architecto facere nostrum eaque quod minima
            eius magni iusto voluptatum impedit! Accusamus, sapiente! Dicta,
            perspiciatis ex! Asperiores sint doloremque sed, adipisci dicta
            optio harum tempora fuga sapiente vitae explicabo soluta porro quam
            omnis est, ullam quibusdam at nostrum ab voluptatibus facere aliquid
            ducimus. Alias autem nobis facere optio praesentium repellat
            mollitia ea, corrupti tenetur exercitationem sint accusamus in non
            quisquam. Nam dolorum quis a enim, doloribus, ut eius in commodi
            itaque eum ipsum. Nostrum facilis debitis distinctio odio eum
            ratione voluptatibus inventore ab nesciunt fugit vel quo aperiam
            totam corporis, perferendis rem ipsa architecto nam quas assumenda,
            repudiandae animi! Est sint iusto vero? Rem a veritatis ad ducimus
            autem magnam saepe? Temporibus eum cupiditate delectus suscipit
            earum pariatur sequi illum rem totam aliquam, voluptates sapiente
            placeat porro perspiciatis ex quos eligendi cum. Placeat! Quasi aut
            quo illum soluta officia vero molestiae, amet veritatis, sunt
            quibusdam, quas voluptate eius labore incidunt porro! Explicabo, rem
            temporibus nemo sapiente quas dolore numquam culpa ducimus omnis
            sit. Possimus illum nulla voluptate commodi reprehenderit ipsa,
            autem numquam ipsum nihil, obcaecati qui dolorum nesciunt ex minima
            odio impedit! Mollitia itaque tenetur assumenda reiciendis ullam
            necessitatibus provident ab blanditiis distinctio. Soluta harum
            necessitatibus itaque, laudantium molestias repellendus unde maxime
            nulla. Ipsam temporibus earum quos eum quae provident? Debitis
            porro, id nostrum fugiat quod blanditiis ex unde, laboriosam a
            minima delectus. Earum nobis accusamus, nesciunt soluta vel ipsam.
            Ratione commodi ipsam ipsum in nesciunt facere odit tempore!
            Repellat modi, nihil deserunt, facere dicta voluptatem possimus
            explicabo nisi ex fugit nostrum numquam.
          </p>
        </div>
      </div>
    </section>
    <!-- <br />
    <br /><br /><br /><br /><br /><br /> -->
  </main>
</body>
