<%- layout("boilerplate") %>

<body>
  <section class="course-detail-pg">
    <img src="\assets\alhaseeb-banner-2.png" alt="he" />
    <div class="course-detail-hero-section">
      <div class="course-detail">
        <h1 class="pricing-headline">Pricing Plans</h1>
        <p>From Basic Qaida to Quran Memorization and Tajweed.</p>

        <div class="social">
          <a href="https://www.facebook.com/nouman.sharifgul/"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/al_haseeb.institute/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            href="https:api.whatsapp.com/send/?phone=+92077890953&text$app_absent=0"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
        </div>
      </div>
    </div>
  </section>

  <section class="pricing">
    <img src="/assets/alhaseeb-plans-banner.png" alt="plans-banner" />
    <div class="pricing-banners">
      <div class="banner">
        <div class="top">
          <h2 class="price">FREE</h2>
          <p class="duration">3 Days</p>
        </div>
        <ul class="features">
          <li><strong>&check;</strong> Free Trial Classes</li>
          <li><strong>&check;</strong> 30 Minutes/Class</li>
          <li><strong>&check;</strong> Free Admission</li>
          <li><strong>&check;</strong> Charges: None</li>
        </ul>

        <a href="/" class="btn">Start Free Trial</a>
      </div>

      <div class="banner">
        <div class="top">
          <h2 class="price">$30</h2>
          <p class="duration">month</p>
        </div>
        <ul class="features">
          <li><strong>&check;</strong> Free Trial Classes</li>
          <li><strong>&check;</strong> 30 Minutes/Class</li>
          <li><strong>&check;</strong> 12/Classes per Month</li>
          <li><strong>&check;</strong> Free Admission</li>
          <li><strong>&check;</strong> Second Student: 10% off</li>
        </ul>

        <a href="/" class="btn">Start Free Trial</a>
      </div>

      <div class="banner">
        <div class="top">
          <h2 class="price">$60</h2>
          <p class="duration">month</p>
        </div>
        <ul class="features">
          <li><strong>&check;</strong> Free Trial Classes</li>
          <li><strong>&check;</strong> 30 Minutes/Class</li>
          <li><strong>&check;</strong> 20/Classes per Month</li>
          <li><strong>&check;</strong> Free Admission</li>
          <li><strong>&check;</strong> Second Student: 10% off</li>
        </ul>

        <a href="/" class="btn">Start Free Trial</a>
      </div>

      <div class="banner">
        <div class="top">
          <h2 class="price">$80</h2>
          <p class="duration">per month</p>
        </div>
        <ul class="features">
          <li><strong>&check;</strong> Free Trial Classes</li>
          <li><strong>&check;</strong> 60 Minutes/Class</li>
          <li><strong>&check;</strong> 12/Classes per Month</li>
          <li><strong>&check;</strong> Free Admission</li>
          <li><strong>&check;</strong> Siblings: 15% off</li>
        </ul>

        <a href="/" class="btn">Start Free Trial</a>
      </div>

      <div class="banner">
        <div class="top">
          <h2 class="price">$100</h2>
          <p class="duration">per month</p>
        </div>
        <ul class="features">
          <li><strong>&check;</strong> Free Trial Classes</li>
          <li><strong>&check;</strong> 60 Minutes/Class</li>
          <li><strong>&check;</strong> 12/Classes per Month</li>
          <li><strong>&check;</strong> Free Admission</li>
          <li><strong>&check;</strong> Siblings: 15% off</li>
        </ul>

        <a href="/courses/6819e7b382b04279a2b1984b" class="btn"
          >Start Free Trial</a
        >
      </div>
    </div>
  </section>
</body>
