@font-face {
  font-family: "fairyRegular";
  src: url("../font/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "CormorantRegular";
  src: url("../font/CormorantGaramond-Regular.ttf");
}

@font-face {
  font-family: "calSans";
  src: url("../font/CalSans-Regular.ttf");
}

@font-face {
  font-family: "cenzal";
  src: url("../font/CinzelDecorative-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  transition: scroll 0.5s ease-in 1s;
}

:root {
  --primary-color: #32433d; /* #262f2f */
  --secondary-color: #fbe355;
  --primary-nav-bar: #201f1f;
  --secondary-nav-bar: #212020;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --font-family: "Arial", sans-serif;
}

.primary-btn {
  height: 2.3rem;
  width: 7rem;
  border-radius: 0.3rem;
}

.header {
  height: 20dvh;
  width: 100dvw;
  border: 1px solid #000;
  padding: 1rem 4rem 1rem;
  background-color: var(--primary-nav-bar);
  color: #fff;
  position: fixed;
  z-index: 99;
}

.index_navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.index_navbar li {
  list-style: none;
}

/* .index_navbar li:hover {
  color: var(--primary-color);
}

.index_navbar a:hover {
  color: var(--primary-color);
} */

.index_navbar ul {
  display: flex;
  align-items: center;
}

.index_navbar .contact_links {
  display: flex;
}

.index_navbar .contact_links li {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.index_navbar li a {
  text-decoration: none;
  color: #fff;
}

.index_navbar .social_links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

.index_navbar .socialmedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_navbar .socialmedia li {
  margin: 0.5rem;
}

.index_navbar .socialmedia li i {
  scale: 1.2;
}

.index_navbar .navlinks {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;
}

.index_navbar .navlinks .logo {
  height: 3rem;
  width: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1rem;
}

.index_navbar .navlinks .logo img {
  width: 100%;
  height: 100%;
}

.index_navbar .navlinks .navlinks_left {
  display: flex;
  align-items: center;
}

.navlinks .navlinks_left li {
  margin-right: 2rem;
}

.navlinks .navlinks_left button {
  height: 2.3rem;
  width: 7rem;
  border-radius: 0.3rem;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}

.navlinks .navlinks_left button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.facebook i {
  color: #1877f2;
}

.whatsapp i {
  color: #075e54;
  transform: scale(1);
}

.instagram img {
  height: 1.5rem;
  width: 1.5rem;
}
/* Hero page */

.hero-page {
  height: 75dvh;
  width: 100dvw;
  background-color: #32433d;
}

.hero-page .hero-banner {
  width: 100%;
  height: 100%;
}

.hero-page .hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* About us */
.about-us {
  height: 30dvh;
  width: 100dvw;
  background-color: #5c8d89;
  color: #000;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.about-us h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us p {
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}

/* Course section */

.courses {
  min-height: 80dvh;
  width: 100dvw;
  background-color: #fefefe;
  padding: 2rem 7rem;
  color: #fff;
}

.course-pg-heading {
  text-align: center;
  /* border: 1px solid var(--primary-color); */
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.course-pg-heading h2 {
  display: inline-block;
  border: 1px solid var(--primary-color);
  padding: 1.5rem 2.5rem;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.course-pg-heading h2::before {
  content: "";
  width: 15rem;
  height: 1px;
  background-color: var(--primary-color);
  z-index: 5;
  position: absolute;
  left: -43%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.course-pg-heading h2::after {
  content: "";
  width: 15rem;
  height: 1px;
  background-color: var(--primary-color);
  z-index: 5;
  position: absolute;
  left: 143%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.courses .cards {
  min-height: 80dvh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 2rem; /* Adds spacing between cards */
}

.courses .course-card {
  width: 25dvw;
  min-height: 70dvh;
  /* background-color: #2c3e50; */
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: "fairyRegular";
  margin-bottom: 2rem;
}

.courses .course-card .card-bottom {
  min-height: 35%;
  width: 100%;
  background-color: #075e54;
  padding: 0.5rem 2rem 2rem 2rem;
  text-align: center;
}

.courses .course-card .card-top {
  overflow: hidden;
}

.courses .course-card .card-thumbnail {
  width: 100%;
  height: 45dvh;
  background-color: var(--secondary-color);
}

.courses .course-card .card-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /* opacity: 0.7; */
  /* Syntax: transition: property duration timing-function delay; */
  transition: scale 0.5s ease-in-out 0.05s;
  z-index: 99;
  scale: 1;
}

.courses .course-card:hover .card-thumbnail img {
  /* opacity: 1; */
  scale: 0.98;
}

.course-card .card-title {
  margin: 1rem 0;
}

.courses .course-card .card-description {
  width: 100%;
  text-align: center;
}

.courses .course-card .card-btn {
  width: 70%;
  height: 3rem;
  background-color: #7a3e3e; /* b19470 */
  border: 1px solid #7a3e3e;
  color: var(--secondary-color);
  margin-top: 1rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-size: 1rem;
}

.courses .course-card .card-btn:hover {
  border-color: var(--secondary-color);
}

/* footer */
.footer {
  height: 50dvh;
  width: 100dvw;
  background-color: var(--primary-nav-bar);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-top {
  height: 80%;
  border-bottom: 1px solid var(--secondary-color);
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.footer li {
  list-style: none;
  margin-bottom: 1rem;
}

.footer li a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid #595757; */
}

.footer li a:hover {
  color: var(--secondary-color);
}

.footer .about {
  width: 20%;
  height: 100%;
  /* background-color: #fbe355; */
}

.footer .footer-link-title-underline {
  margin-bottom: 1.5rem;
  position: relative;
  line-height: 1.2;
  display: inline-block;
}

.footer-link-title-underline::before {
  content: "";
  width: 50%;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #7c7a7a;
  position: absolute;
  bottom: -30%;
  left: 0;
}

.footer a img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.footer .footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem 0.5rem 1rem;
}

.footer-bottom .dev-detail {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.footer-bottom .dev-detail .dev-social {
  display: flex;
  gap: 1rem;
}

.footer-bottom .dev-detail .dev-social i {
  color: #fff;
  text-decoration: none;
}

/* course review page */
.course-review {
  height: 75dvh;
  width: 100dvw;
  /* overflow: hidden; */
  position: relative;
}

.course-review img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.course-review .review-card {
  width: 25vw;
  height: 55dvh;
  background-color: #075e54;
  z-index: 2;
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.course-review h3 {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
  font-size: 2rem;
  font-family: "fairyRegular";
}

.course-review img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Detailed About */
.detailed-about {
  max-height: 170dvh;
  width: 100dvw;
  background-color: #075e54;
  margin-top: 5rem;
  padding: 3rem 4rem 3rem 8rem;
  color: #fff;
  font-family: "fairyRegular";
}

.detailed-about .top {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

.detailed-about .top img {
  height: 30rem;
  width: 30rem;
  border-radius: 2rem;
}

.detailed-about .secondary-clr {
  color: var(--secondary-color);
}

.detailed-about .top h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.detailed-about .top .highlight p {
  width: 80%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.detailed-about .bottom {
  width: 85%;
  margin: 0 auto;
}

.detailed-about .bottom h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.detailed-about .bottom p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Services sectiion */
.services-pg {
  width: 100vw;
  height: 90vh;
  background-color: #262f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-family: "fairyRegular";
  position: relative;
}

.services {
  width: 30rem;
  min-height: 33rem;
  border: 1px solid var(--background-color);
  color: #fff;
  border-radius: 1rem;
  color: #fff;
}

.services-pg img {
  height: 30rem;
  width: 30rem;
  border-radius: 2rem;
}

.services ul li {
  list-style: none;
  margin: 0.5rem;
  padding: 1rem 4rem;
  border: 1px solid #fff;
  text-align: center;
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 800;
  border-radius: 0.5rem;
}

.services ul li:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.services-pg h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
}

/* Sign-up pg */
.sign-up-pg {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 1rem 10rem;
}

.sign-up-pg .left-pg {
  width: 30%;
  height: 80%;
  /* background-color: var(--text-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "CormorantRegular";
  /* align-items: center; */
}

.sign-up-pg .left-pg h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: "calSans";
  font-weight: 100;
  white-space: nowrap;
}

.sign-up-pg .left-pg p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.sign-up-pg .left-pg li {
  /* list-style: none; */
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.sign-up-pg img {
  width: 45%;
  height: 80%;
}

.sign-up-pg .sign-up-form {
  width: 30%;
  height: 80%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-pg .sign-up-form h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.sign-up-pg .sign-up-form label {
  display: block;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.sign-up-pg .sign-up-form input {
  background-color: transparent;
  /* border: none; */
  border: 1px solid var(--primary-color);
  height: 2rem;
  margin-bottom: 1rem;
  width: 15rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

.sign-up-pg .sign-up-form textarea {
  height: 5rem;
  width: 15rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.sign-up-pg .sign-up-form button {
  width: 40%;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* .sign-up-pg .sign-up-form button:focus {
  border: none;
} */

/* encourage-pg */
.encourage-pg {
  min-height: 60dvh;
  width: 100dvw;
  background-color: #075e54;
  display: flex;
  color: #fff;
  margin-bottom: 7rem;
  position: relative;
  padding-top: 3rem;
}

.encourage-pg .left {
  width: 60%;
  height: 100%;
  /* background-color: #1877f2; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem;
}

.encourage-pg .left h2 {
  font-size: 2.2rem;
  width: 70%;
  margin-bottom: 1rem;
}

.encourage-pg .left p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.encourage-pg .left .scroll-icons {
  height: 30%;
  width: 100%;
  /* background-color: #7c7a7a; */
  display: flex;
  margin-top: 1rem;
}

.encourage-pg .left .scroll-icons .icon {
  min-height: 7.5rem;
  max-width: 17rem;
  background-color: #201f1f;
  border-radius: 50%;
  margin-right: 1rem;
  overflow: hidden;
}

.encourage-pg .left .scroll-icons .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.encourage-pg .right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 2rem;
}

.encourage-pg .right div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 1.3rem;
  width: 30rem;
}

.encourage-pg .right div .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1rem;
}

.encourage-pg .right div .content p,
h3 {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.encourage-pg .right div .content h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.encourage-pg .right div:first-child {
  margin-left: -1rem;
}

.encourage-pg .right div:first-child p,
.encourage-pg .right div:first-child h3 {
  margin-left: 0;
}

.encourage-pg .right i {
  font-size: 3rem;
}

.encourage-pg .consult-banner {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 90%;
  max-height: 30%;
  /* border: 1px solid var(--secondary-color); */
  z-index: 4;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  color: #000;
}

.encourage-pg .consult-banner h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.encourage-pg .consult-banner p {
  width: 80%;
}

.encourage-pg .consult-banner form {
  margin: 2.5rem 6rem 0 0;
}

.encourage-pg .consult-banner form input {
  width: 15rem;
  height: 3rem;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  padding-left: 1rem;
  margin-right: 1rem;
}

.encourage-pg .consult-banner form button {
  height: 3rem;
  width: 10rem;
  background-color: #075e54;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 1rem;
}

.encourage-pg .consult-banner form button:hover {
  background-color: var(--primary-color);
}

/* Course detail pg */

.course-detail-pg-main {
  font-family: "cenzal";
}

.course-detail-pg {
  width: 100dvw;
  height: 40dvh;
  position: relative;
}

.course-detail-pg img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.course-detail-hero-section {
  width: 100%;
  height: 100%;
  /* background-image: url(".."); */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* background-color: #1877f2; */
}

.course-detail-hero-section p {
  width: 50%;
  margin: 0 auto;
}

.course-detail-hero-section h1 {
  margin-bottom: 1rem;
}

.course-detail-hero-section .social {
  height: 5rem;
  width: 20rem;
  /* background-color: var(--primary-color); */
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.course-detail-pg .social i {
  color: #fff;
  font-size: 2rem;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
}

.course-card {
  height: 100dvh;
  width: 100dvw;
  /* background-image: url("/assets/Beige Minimalist Simple Islamic Quran Verse Instagram Post.png"); */
  background-position: center;
  position: relative;
}

.course-card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

.course-card .layer {
  width: 100%;
  height: 100%;
  background-color: #ffffff0c;
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.course-card .layer .cards {
  width: 100%;
  height: 70%;
  /* background-color: #bb5f5f; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.course-card .layer h2 {
  /* background-color: #1877f2; */
  display: inline-block;
  margin: 2rem 1rem;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  position: relative;
  color: #fff;
}

.course-card .layer h2::before,
.course-card .layer h2::after {
  content: "";
  height: 1px;
  width: 120%;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.course-card .layer h2::before {
  left: -60%;
}

.course-card .layer h2::after {
  right: -180%;
}

.course-card .layer .cards .banner {
  min-width: 25rem;
  height: 90%;
  background-color: var(--primary-color);
}

.course-card .layer .cards .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Course Form */

.course_form {
  height: 120dvh;
  width: 100dvw;
  background-image: url("/assets/course_form.png");
  /* background-position: center; */
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course_form .form {
  min-height: 90%;
  width: 30rem;
  background-color: #000;
  padding: 1rem;
  border-radius: 1rem;
  /* margin-top: 1rem; */
}

.course_form .form h2,
.course_form .form p {
  margin-bottom: 1rem;
  width: 90%;
  color: #fff;
}

.course_form .form h2 {
  color: var(--secondary-color);
}

.course_form .form div {
  display: flex;
  flex-direction: column;
}

.course_form .form div input,
.course_form .form div textarea,
.course_form .form select {
  min-width: 22rem;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  padding: 1rem;
  margin: 0.5rem 0 0.7rem;
}

.course_form .form form label {
  color: #fff;
}

.course_form .form div input,
.course_form .form div select {
  height: 2rem;
}

.course_form .form div select {
  color: #000;
}

.course_form .form form,
.course_form .form p {
  font-family: serif;
}

.course_form .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.course_form .form button {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
  width: 10rem;
}

.course_form .form button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.course_form .courses-poster {
  width: 35rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.course_form .courses-poster .poster {
  height: 27rem;
  width: 27rem;
  position: relative;
}

.course_form .courses-poster .poster img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 10;
  /* transform: translate(-50%, -50%); */
}

.course_form .courses-poster h2 {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.course-material {
  width: 100dvw;
  height: 80dvh;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
}

.material {
  width: 30rem;
  min-height: 30rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 10px 10px 50px #000;
}

.material h2 {
  width: 90%;
  /* color: var(--secondary-color); */
  text-align: center;
  margin: 1rem 0;
}

.material ul li {
  font-family: serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 1.8rem;
}

.course-secondary-imgs {
  width: 20rem;
  height: 80%;
  background-color: #075e54;
}

.course-secondary-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Pricing */
.pricing {
  min-height: 100dvh;
  width: 100dvw;
  position: relative;
  color: #075e54;
}

.pricing > img {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.pricing-banners {
  min-height: 100dvh;
  display: grid;
  /* grid-template-columns: repeat(1fr, 3); */
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 1.5rem;
  padding: 1rem 5rem;
}

.banner {
  height: 25rem;
  width: 18rem;
  background-color: #fff;
  color: #000;
  margin: auto;
  position: relative;
}

.banner .top {
  height: 30%;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .features {
  padding: 1rem 2rem;
}

.banner .features li {
  list-style: none;
  margin-bottom: 1rem;
}

.banner .top h2 {
  font-size: 3.5rem;
}

.banner .btn {
  /* width: 70%;
  height: 4rem; */
  padding: 0.5rem 1.5rem;
  background-color: var(--se-condary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  border-radius: 2rem;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: absolute;
  bottom: 2%;
  left: 45%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.banner .btn:hover {
  border-color: var(--primary-color);
}

.donation-main-pg {
  width: 100%;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}

.donation-main-pg .top {
  height: 70%;
}

.donation-main-pg .headline {
  height: 13rem;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.donation-main-pg .headline h2 {
  font-size: 2.8rem;
}

.donation-main-pg .headline p {
  font-size: 1.2rem;
  opacity: 0.7;
}

.donation-main-pg .donation-card {
  height: 90%;
  width: 100%;
  /* background-color: #8a2323; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.donation-main-pg .donation-card img {
  /* height: 70%; */
  width: 30rem;
}

.donation-main-pg .donation-card .right-card {
  position: relative;
}

.donation-main-pg .donation-card .right-card img {
  border-left: 1px solid #55545442;
}

.donation-main-pg .donation-card .right-card a.btn {
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  color: #000;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: absolute;
  bottom: 2%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.donation-main-pg .bottom {
  width: 100%;
  height: 30%;
  /* background-color: #075e54; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.donation-main-pg .bottom img {
  height: 25rem;
  width: 28rem;
  object-fit: fill;
}
