* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #32433d;
  --secondary-color: #fbe355;
  --background-color: #ecf0f1;
  --text-color: #2c3e50;
  --font-family: "Arial", sans-serif;
}

.header {
  height: 25dvh;
  width: 100dvw;
  border: 1px solid #000;
  padding: 1rem 4rem 1rem;
  background-color: var(--primary-color);
  color: #ecf0f1;
}

.index_navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.index_navbar li {
  list-style: none;
}

.index_navbar li:hover {
  color: #fbe355;
}

.index_navbar a:hover {
  color: #fbe355;
}

.index_navbar ul {
  display: flex;
  align-items: center;
}

.index_navbar .contact_links {
  display: flex;
}

.index_navbar .contact_links li {
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.index_navbar li a {
  text-decoration: none;
  color: #ecf0f1;
}

.index_navbar .social_links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

.index_navbar .socialmedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index_navbar .socialmedia li {
  margin: 1rem;
}

.index_navbar .navlinks {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 60%;
}

.index_navbar .navlinks .logo {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.index_navbar .navlinks .logo img {
  width: 100%;
  height: 100%;
}

.index_navbar .navlinks .navlinks_left {
  display: flex;
  align-items: center;
}

.navlinks .navlinks_left li {
  margin-right: 2rem;
}

.navlinks .navlinks_left button {
  height: 2.3rem;
  width: 7rem;
  border-radius: 0.3rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.navlinks .navlinks_left button:hover {
  color: var(--primary-color);
}
